<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
main screen
{% comment %}
<li><a href="http://127.0.0.1:8000/thingctlg/lst/">things list</a></li>
<li><a href="{% url 'thingctlg:thinglst' %}">things list: " url "</a></li>
<li><a href="thingctlg/lst/">things list: "thingctlg/lst/"</a></li>
{% endcomment %}
<li><a href="thngctlg/thinglst/">things list</a></li>
<li><a href="thngctlg/uomlst/">units of measure list</a></li>
<li><a href="cmpnctlg/companylst">companies list</a></li>
<li><a href="cmpnctlg/ourfirmlst">our firms list</a></li>
<li><a href="cmpnctlg/agreementlst">agreements list</a></li>
<li><a href="dcmnt/receiptlst">receipts list</a></li>
<li><a href="dcmnt/shipmentlst">shipments list</a></li>
</body>
</html>